.secondary-list-icon,
.secondary-list-icon img {
  height: 90px !important;
  width: 90px !important;
}

.secondary-list-icon-picture img {
  object-fit: contain;
  border-radius: 8px;
}

.secondary-list-data {
  margin-top: 10px;
  min-width: 120px !important;
  text-align: start;
}

.secondary-list-data .btn {
  width: 100%;
  padding: 0 10px !important;
  font-size: 24px;
  text-align: start;
  padding: 0;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
}

.secondary-list .main-list-item {
  gap: 10px;
  align-items: start;
}

.secondary-list .main-list-item-actions-before {
  margin: 0;
  padding: 0;
  gap: 0;
}

.secondary-list .main-list-item-actions-after {
  margin-top: 10px;
  align-self: flex-start;
  justify-self: flex-end;
  gap: 8px;
}

.secondary-list .main-list-item-actions-after .btn,
.secondary-list .main-list-item-actions-after img {
  width: 25px !important;
  height: 25px !important;
}

@media (min-width: 768px) {
  .secondary-list .main-list-item-actions-after {
    align-self: center;
    justify-self: center;
    gap: 8px;
    margin: 0;
  }

  .secondary-list .secondary-list-data {
    font-size: 20px;
    min-width: 800px !important;
  }

  .secondary-list-data .btn {
    font-size: 32px;
    width: auto;
  }

  .secondary-list .main-list-item-actions-after .btn,
  .secondary-list .main-list-item-actions-after img {
    width: 40px !important;
    height: 40px !important;
  }
}
